{# extends 'base.html' #}

{% block content %}

{% if user.is_authenticated %}Привет, {{ user.username }}{% endif %}

<a href="/logout">Log Out</a>

{% for user in user_list %}
	<div>{{user.last_name}}</div>
{% endfor %}

{% endblock %}