
<form action="/login/">
	<label for="email">E-mail</label>
	<input type="text" name="email">
	<label for="password">Пароль</label>
	<input type="password" name="password">
	<button type="submit">Login</button>
</form>

<!--{# {% load i18n %}
{% if user.is_anonymous %}
  <form method="post">
    {% csrf_token %}
    <table>
      {{ form }}
      <tr>
        <td colspan="2">
          <input type="submit" name="log_in" value="{% trans 'log_in' %}"/>
        </td>
      </tr>
    </table>
  </form>
{% endif %} #}-->