// Globals
* {
	/*transition: all 0.2s;*/
	/*font-size: 14px !important;*/
}

body {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #555;

}

p {
	background-color: lighten(#000, 13.5%);
}

th,tr {
	cursor: pointer;
}

th:hover {
	text-decoration: underline;
}


#datepicker1,
#datepicker2,
#datepicker3 {
	z-index: 100000;
}


.leftCash {
	padding-top: 13px;
}