<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} | CoffeEddie</title>

	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-theme-smoothness.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">

	<script src="{% static 'scripts/jquery.min.js' %}"></script>
	<script src="{% static 'scripts/jquery-ui.min.js' %}"></script>
</head>
<body>

	<div class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">CoffeEddie</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li id='cashPage'><a href="/">Касса</a></li>
					<li id='listPage'><a href="/list">Товары</a></li>
					<li id='stockPage'><a href="/stocks">Акции</a></li>
					<li id='employeePage'><a href="/employees">Работники</a></li>
					<li id='reportPage'><a href="/reports">Отчёты</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	

	<script src="{% static 'scripts/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/app.js' %}"></script>

	<script>
		if($("#{{ page }}").length) {
			$("#{{ page }}").addClass('active');
		}
		//else console.log('nrkmn: page menu bind is broken in base')
	</script>

</body>
</html>