{% extends 'base.html' %}
{% block title %} About CoffeEddie {% endblock %}

{% block content %}
	<h1>Welcome to CoffeEddie <small>project</small></h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi corporis vero ea alias perspiciatis, hic reiciendis necessitatibus maxime ipsam, neque deleniti! Possimus, minus nihil odio sit consectetur, odit dicta corporis porro culpa quam hic nostrum deleniti. Iste itaque, maxime repudiandae natus asperiores porro sequi voluptas quas quaerat fuga expedita ducimus quibusdam, eos nisi. Quo dicta debitis officia ea, id rem veritatis cumque, vero alias eveniet repudiandae nam ducimus. Amet possimus iure rerum ducimus quaerat necessitatibus error molestiae! Possimus vel quis sint eaque ipsam, nihil. Maiores alias quia possimus doloribus, at magnam laborum velit odio et voluptatem, sed debitis. Libero, amet.</p>
	<p class="lead">It's the first project</p>
	<h1 class="text-hide">Custom heading</h1>
	<blockquote class="blockquote-reverse">
		<p>It works</p>
		<footer>Sybe at <cite title="The least map">Rust</cite></footer>
	</blockquote>
	<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident quisquam sunt exercitationem dolore, velit minus doloribus aspernatur modi. Excepturi odit maxime, totam placeat, delectus, nam numquam, sunt repellat facere voluptatum aperiam cupiditate accusantium labore cum possimus. Eaque, laboriosam libero.</p>
	<p>To find out the secret, press <kbd><kbd>ctrl</kbd> + <kbd>M</kbd></kbd></p>
	<p class="text-right">Developer: Alex aka <del>mammontyara</del> <abbr title="true story"><mark>nrkmn</mark></p></abbr>
	<p class="bg-success">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum vel veniam voluptatum quidem voluptates laudantium inventore quae dicta vitae officiis.</p>
	<p class="text-center">Updates:</p>
	<p>
		<dl class="dl-horizontal">
			<dt>First</dt>
			<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem corporis veniam, dolore commodi, doloremque, beatae quas placeat tempore voluptatibus at nesciunt corrupti ad nobis quibusdam vero ratione. Maiores voluptates et blanditiis reprehenderit quae necessitatibus autem repellendus illo! Consequuntur, quisquam, nostrum.</dd>
			<dt>Second</dt>
			<dd>There was a move of Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, quod!</dd>
			<dt>And the lasts</dt>
			<dd>There was a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem et sunt adipisci, cumque dolor, dignissimos eaque alias. Dolore vitae, animi.</dd>
		</dl>
	</p>
{% endblock content %}
