{% extends 'base.html' %}

{% block title %}Добавление компонента{% endblock %}

{% block content %}

<form method="POST" class="post-form">{% csrf_token %}
	{{ form.as_p }}
	<button type="submit" class="save btn btn-default">Save</button>
</form>

<!-- <hr>
<p class="lead">Here lies test form <small>for self-development</small></p>

<blockquote>
	For keeping time I'm gonna make form for user personal profile
</blockquote>

<h2 class="text-center">My Profile</h2>

<form class="form-horizontal" role="form">
	<div class="form-group">
		<label for="inputFirstName" class="col-sm-2 control-label">Имя</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputFirstName" placeholder="Вениамин">
		</div>
	</div>
	<div class="form-group">
		<label for="inputLastName" class="col-sm-2 control-label">Фамилия</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" id="inputFirstName" placeholder="Перепёлкин">
		</div>
	</div>
	<div class="form-group">
		<label for="inputFile" class="col-sm-2 control-label">Выберите изображение</label>
		<div class="col-sm-10">
			<input type="file" class="btn btn-default" id="inputFile">
			<p class="help-block">В формате Jpg, не больше 1 мб</p>
		</div>
	</div>
	<div class="form-group">
		<label for="inputFile" class="col-sm-2 control-label">Выберите цвет профиля</label>
		<div class="col-sm-10">
			<input type="color">
			<p class="help-block">В формате Jpg, не больше 1 мб</p>
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<div class="checkbox">
				<label><input type="checkbox">
					Подтверждаю согласие с <a href="/about/">условиями</a> компании CoffeEddie
				</label>
				
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<button type="submit" class="btn btn-default">Сохранить изменения</button>
		</div>
	</div>
</form> -->


{% endblock %}