{% extends 'base.html' %}

{% block title %}Акции{% endblock %}

{% block content %}

	 <script>
		$(function() {
			$( "#datepicker" ).datepicker({
				onSelect: function(dateText, inst) {
					console.log(inst);
					window.location = '/employees/'+inst.selectedYear+
						'/'+(parseInt(inst.selectedMonth)+1)+'/'+inst.selectedDay;
				}
			})
		});
	</script>
	
	<div class="row">
		<div class="col-sm-5">
			<p>Date: <input type="text" id="datepicker"></p>
		</div>
		<div class="col-sm-7">
			<form method="POST" class="post-form">{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="save btn btn-default">Save</button>
			</form>
		</div>
	</div>




{% endblock %}