{% extends 'base.html' %}

{% block title %} Касса {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-sm-7 leftCash">
			<!-- table.table>thead>td{some}*5>^tr*30>td{good $}*5 -->

				<input type="text" class="form-control" placeholder="Введите название товара" ng-model="good_query">
				<hr>
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>Название</th>
							<th>Категория</th>
							<th>Цена</th>
						</tr>
					</thead>
					<tbody>
						{% for product in product_list %}
						<tr class="cash_prod_elem" id="{{product.id}}">
							<td>{{product.product_title}}</td>
							<td>{{product.get_product_type_display}}</td>
							<td>{{product.product_price}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

		</div>
		<div class="col-sm-5 rightCash">

			<div class="text-center">
				<form id="order" method="post">{% csrf_token %}
					<button type="submit" class="btn btn-default btn-lg">Checkout</button>
				</form>
			</div>
	
			<!--<div id="checkout" class="btn btn-default col-sm-offset-3 col-sm-6">Checkout</div>-->
			<hr/>
			<!-- <div class="btn btn-default col-sm-4">Remove</div>
			<div class="btn btn-default col-sm-4">Change</div>
			<div class="btn btn-default col-sm-4">Some</div> -->

			<table id="table_checkout" class="table table-striped table-hover">
				<thead>
					<tr>
						<th>Название</th>
						<th>Кол-во</th>
						<th>Цена</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>

		</div>
	</div>
{% endblock %}