{% extends 'base.html' %}

{% block title %}Товары{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-sm-6">
			<h2>Компоненты</h2>
			<a href="/component/add/" class="btn btn-default col-sm-4">Add</a>
			<div id="btn_comp_change" class="btn comp_btn btn-default disabled col-sm-4" data-toggle="modal" data-target="#myModal">Change</div>
			<div id="btn_comp_remove" class="btn comp_btn btn-default disabled col-sm-4">Remove</div>
			<div class="clearfix"></div>
			<hr>
			<input type="text" class="form-control" placeholder="Text here good title for filtering">
			{% if component_list %}
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Наименование</th>
							<th>Категория</th>
							<th>Кол-во</th>
							<th>Цена</th>
						</tr>
					</thead>
					<tbody>
						{% for component in component_list %}
						<tr class="comp_elem" id="{{component.id}}">
							<td>{{component.component_title}}</td>
							<td>{{component.get_component_type_display}}</td>
							<td>{{component.component_count}}</td>
							<td>{{component.component_price}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			{% else %}
			<p>No products are available.</p>
			{% endif %}
		</div>
		<div class="col-sm-6">
			<h2>Товары</h2>
			<a href="/product/add/" class="btn btn-default col-sm-4">Add</a>
			<div  id="btn_prod_change" class="btn prod_btn btn-default disabled col-sm-4" data-toggle="modal" data-target="#myModal">Change</div>
			<div  id="btn_prod_remove" class="btn prod_btn btn-default disabled col-sm-4">Remove</div>
			<div class="clearfix"></div>
			<hr>
			<input type="text" class="form-control" placeholder="Text here good title for filtering">
			{% if product_list %}
					<table class="table table-striped table-hover">
						<thead>
							<tr>
								<th>Наименование</th>
								<th>Категория</th>
								<th>Цена</th>
							</tr>
						</thead>
						<tbody>
							{% for product in product_list %}

							<tr class="prod_elem" id="{{product.id}}">
								<td>{{product.product_title}}</td>
								<td>{{product.get_product_type_display}}</td>
								<td>{{product.product_price}}</td>
							</tr>
							{% endfor %}
						</tbody>

					</table>
				{% else %}
				<p>No products are available.</p>
			{% endif %}
		</div>
	</div>

{% endblock %}

