{% extends 'base.html' %}

{% block title %}Заказ{% endblock %}

{% block content %}

<h3>Заказ подробно</h3>

{% for product in product_list %}

	<p>{{product.title}} - {{product.count}} шт | {{product.final_price}} руб</p>

{% endfor %}

<h3>Применённые акции</h3>
	Воу, воу, палехчи, парниша
<h3>Итоговая стоимость</h3>
<p>{{price}} руб</p>
<p>Работник: {{worker.get_full_name}}</p>
<div class="btn btn-default">Печать</div>
<a href="/" class="btn btn-default">Завершение</a>
{% endblock %}