{% extends 'base.html' %}

{% block title %}Заказ{% endblock %}

{% block content %}

	{% if report_list %}
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Наименование</th>
					<th>Категория</th>
					<th>Сотрудник</th>
					<th>Цена</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				{% for report in report_list %}
				<tr class="comp_elem" id="{{report.id}}">
					<td>{{report.report_title}}</td>
					<td>{{report.report_category}}</td>
					<td>{{report.report_user}}</td>
					<td>{{report.report_price}}</td>
					<td>
						{% if report.report_category == "Заказ" %}
							<a href=" {% url 'order_details' report.report_content %}">Подробно</a>
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<p>No reports are available.</p>
	{% endif %}

{% endblock %}