{% extends 'base.html' %}

{% block title %}Акции{% endblock %}

{% block content %}
	<a href="{% url 'stock_add' %}" class="btn btn-default">Add stock</a>
	<hr>
	{% if stock_list %}
		<table class="table table-striped table-hover table-condensed">
			<thead>
				<tr>
					<th>Наименование</th>
					<th>Скидка</th>
					<th>Дата начала</th>
					<th>Дата завершения</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for stock in stock_list %}
				<tr class="comp_elem" id="{{stock.id}}">
					<td>{{stock.stock_title}}</td>
					<td>{{stock.stock_discount}}</td>
					<td>{{stock.stock_date_start}}</td>
					<td>{{stock.stock_date_finish}}</td>
					<td>
						<a href="{% url 'stock_edit' stock.id %}" class="btn btn-default">View</a>
						<button id="stockRemoveBtn" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	{% else %}
	<p>No stocks are available.</p>
	{% endif %}
{% endblock %}